.hidden {
  display: none;
}

/* Basic styles start */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding: 188px 0;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent-color {
  color: #404bbf;
}

/* Basic styles end */
/* ---------------------------- */
/* Heder styles start */

.header-page {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo-top {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .header-logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-menu {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .logo-top {
    padding: 24px 0;
    margin-right: 120px;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .contacts {
    font-style: normal;
    display: block;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .logo-top {
    margin-right: 76px;
  }

  .contacts {
    margin-left: auto;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* mobile-menu start */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* mobile-menu end */
/* ------------------------------------ */
/* Hero styles start */

.hero-section {
  min-width: 320px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgraund/backgraund-img.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  margin: 0 auto;
}

@media screen and (min-resolation: 192px) {
  .hero-section {
    background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/backgraund/backgraund-img@2x.jpg);
  }
}
  

.main-title {
  max-width: 216px;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 72px;
}

.order-service-btn {
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  min-width: 169px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .main-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .hero-section {
    max-width: 1440px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }
}

/* Hero styles start */
/* ----------------------------------- */
/* Our advantages section start */

.advantages-section {
  padding: 96px 0;
}

.container {
  max-width: 318px;
  padding-right: 16px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.box-icon {
  display: none;
}

.advantages-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .advantages-list-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-list-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantages-section {
    padding: 120px 0;
  }

  .container {
    max-width: 1158px;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-list-item {
    width: calc((100% - 72px) / 4);
  }

  .box-background {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advantages-list-title {
    font-weight: 500;
    font-size: 20px;
  }

  .advantages-list-text {
    font-weight: 400;
  }
}

/* Our advantages section end */
/* --------------------------------------- */
/* Our Team styles start */

.team-section {
  padding: 96px 16px;
  width: auto;
  background-color: #f4f4fd;
  text-align: center;
}

.container {
  max-width: 264px;
  margin-left: auto;
  margin-right: auto;
}

.team-title {
  min-width: 162px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 72px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-list-title-person {
  padding: 32px 0;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-item-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons {
  fill: #f4f4fd;
}

.team-item-social-link:hover,
.team-item-social-link:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-list-item {
    width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .team-section {
    padding: 120px 0;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}
/* Our Team styles end */
/* ---------------------------------- */
/* Our Portfolio styles start */

.container {
  max-width: 288px;
}

.portfolio-section {
  padding: 96px 16px;
  
}

.portfolio-title {
  min-width: 218px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio-list-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-list-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  width: 288px;
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.overlay-wrapper {
  position: relative;
  overflow: hidden;
  }

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  overflow: auto;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolio-list-item:hover .portfolio-text {
  transform: translateY(0%);
  }

@media screen and (min-width: 768px) {
.container {
  max-width: 768px;
  }

.portfolio-list {
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 72px;
  }

.portfolio-list-item {
  width: calc((100% - 24px) / 2);
  }

.portfolio-list-info {
  width: 356px;
  }
}

@media screen and (min-width: 1158px) {
.container {
  max-width: 1158px;
  }

.portfolio-section {
  padding: 120px 0;
  }

.portfolio-list {
  row-gap: 48px;
  }

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

.portfolio-list-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
  width: 360px;
  }

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  }

.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }
}

/* Our Portfolio styles end */
/* ----------------------------------------- */
/* Footer styles start */

.container {
  max-width: 320px;
  height: 100%;
}

.footer-section {
  background-color: #2e2f42;
}

.footer-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-name-container {
  width: 288px;
  margin-bottom: 72px;
  padding-top: 96px;
}

.logo-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0; 
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5; 
}

.footer-logo .footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  max-width: 288px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social-container {
  width: 208px;
  margin-bottom: 72px;
}

.footer-social-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social-list {
  padding-left: 0;
  display: flex;
  gap: 16px;
}

.footer-item-social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #4d5ae5;
  border: #4d5ae5;
  fill: #f4f4fd;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item-social-link:hover,
.footer-item-social-link:focus {
  background-color: #31d0aa;
}

.order-form-conteiner {
  width: 288px;
  height: 100%;
  padding-bottom: 96px;
}

.form-filed-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-order-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.order-form-label {
  margin-bottom: 16px;
}

.order-form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.order-form-input::placeholder {
  color: #ffffff;
  padding: 8px 0 8px 8px;
}

.subscribe-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-btn:hover,
.subscribe-form-btn:focus {
  background-color: #404bbf;
}

.subscribe-icon {
  margin-left: 16px; 
  fill: #fff;
}

@media screen and (min-width: 768px) {
.container {
  max-width: 768px; 
}

.footer-flex-container {
  align-items: baseline;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-name-container {
  width: 264px;
  margin-right: 24px;
}

.logo-bottom {
  justify-content: flex-start;
}

.footer-text {
  max-width: 264px;
  text-align: start;
}

.footer-social-container {
 padding-top: 95px;
 
}

.footer-social-text {
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.order-form-conteiner {
  width: 453px;
}

.form-filed-text {
  justify-content: flex-start;
}

.footer-order-form {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
}

.order-form-label {
  margin-right: 24px;
}
}


/* Footer styles start */
